:root {
  --main-box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.23);
  --select-color: rgb(160, 189, 0);
  --default-color: rgb(188, 221, 3);
  --mod-color: rgb(216, 148, 2);
  --border-color: rgb(170, 170, 170);
  --default-border-radius: 5px;
  --default-font-family: 'Century Gothic';
}

body {
  background-image: url('./assets/background.png');
  font-family: var(--default-font-family);
}

.debug {
  margin-left: 5px;
  font-size: 7pt;
}

button {
  min-width: 100px;
  min-height: 35px;
  background-color: var(--default-color);
  border: 0;
  font-family: var(--default-font-family);
  font-weight: bold;
  border-radius: var(--default-border-radius);
  font-size: 15pt;
  box-shadow: var(--main-box-shadow);
  transition: background-color 100ms ease-in-out;
  margin-bottom: 5px;
}

button:hover {
  background-color: var(--select-color);
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  min-height: 30px;
  width: 100%;
  border: 1px solid var(--border-color);
  background-color: var(--default-color);
  transition: transform 100ms ease-in-out;
  cursor: pointer;
}

li div {
  margin-right: 5px;
  margin-left: 5px;
  font-weight: bold;
  font-size: 20px;
}

li:first-child {
  border-top-left-radius: var(--default-border-radius);
  border-top-right-radius: var(--default-border-radius);
}

li:last-child {
  border-bottom-left-radius: var(--default-border-radius);
  border-bottom-right-radius: var(--default-border-radius);
}

li:hover {
  transform: translate(-1px, -1px);
  box-shadow: var(--main-box-shadow);
}

input, select {
  height: 35px;
  border: 0;
  border-radius: var(--default-border-radius);
  font-size: 15pt;
  background-color: rgb(197, 197, 197);
  padding-left: 10px;
  margin-bottom: 10px;
}

textarea {
  font-family: var(--default-font-family);
}

.selected {
  background-color: var(--select-color);
  box-shadow: inset var(--main-box-shadow);
}

.logo {
  width: auto;
  height: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.playerlist {
  position: relative;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.mod-list-element {
  background-color: var(--mod-color);
  border: none;
  height: 20px !important;
}

.mod-list-element:hover {
  transform: translate(0px, 0px) !important;
  box-shadow: none !important;
  cursor: default !important;
}

.playerlist li {
  display: grid;
  grid-template-columns: 60% 20% 10% 10%;
  border-radius: 0;
  height: 50px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20pt;
}

.playerlist li div {
  margin-top: auto;
  margin-bottom: auto;
}

.playerlist li .joker img {
  width: 50px;
  height: auto;
}

.playerlist li div img {
  width: 20px;
  height: auto;
}

.playerlist li div:last-child {
  text-align: right;
}

.guesslist {
  top: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 230px;
}

.questionlist {
  position: relative;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.gamelist {
  position: relative;
  top: 15%;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.gamelist li a {
  display: grid;
  grid-template-columns: 70% 10% 20%;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.gamelist li a div:last-child {
  text-align: right;
}


.buttonarray {
  position: relative;
}

.btnleft {
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 10;
  width: 50px;
  height: 50px;
  min-width: unset !important;
  border-radius: 50%;
  box-shadow: var(--main-box-shadow);
}

.btnright {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 10;
  width: 50px;
  height: 50px;
  min-width: unset !important;
  border-radius: 50%;
  box-shadow: var(--main-box-shadow);
}

.full {
  width: 100%;
  height: 100%;
}

.navbar {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('./assets/background.png');
  box-shadow: var(--main-box-shadow);
  z-index: 10;
}

.navbar h1 {
  text-align: center;
  color: var(--default-color);
}

.navbar p {
  text-align: right;
  right: 10px;
  position: absolute;
  text-align: center;
  font-size: 15pt;
  color: var(--default-color);
  font-weight: bold;
  margin: 0;
}

.navbar .buttonlist {
  position: absolute;
  right: 0;
  top: 0;
}

.navbar .buttonlist button {
  width: 35px;
  min-width: unset;
  background-color: rgba(92, 92, 92, 0.384);
  box-shadow: inset var(--main-box-shadow);
  border-radius: 0;
  transition: background-color 100ms ease-in-out;
  background-position: center;
  background-size: cover;
}

.navbar .buttonlist button:hover {
  cursor: pointer;
  background-color: rgba(123, 145, 0, 0.61);

}

.content {
  position: absolute;
  top: 120px;
  width: 100%;
}

.mainbuttons {
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
}

.answersbuttons {
  width: 98%;
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.answersbuttons button {
  display: grid;
  grid-template-columns: 10% 90%;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.answersbuttons button div:first-child {
  text-align: left;
  margin: auto;
}

.answersbuttons button div:last-child {
  text-align: center;
  margin: auto;
}

.questionfield {
  background-color: var(--select-color);
  font-size: 15pt;
  padding-top: 20px;
  min-height: 50px;
  width: 98%;
  left: 50%;
  border-radius: var(--default-border-radius);
  transform: translateX(-50%);
  position: relative;
  text-align: center;
}

.currentplayer {
  margin: 0;
  margin-left: 15px;
  font-size: 15pt;
  font-weight: bold;
  font-style: italic;
  color: white;

}

.question {
  position: relative;
}

.questionnofile {
  top: 150px;
}

.questionfile img,
.questionfile iframe,
.questionfile audio,
.questionfile video {
  max-height: 300px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.specbuttons {
  position: relative;
  width: 100%;
}

.specbuttons div {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  width: max-content;
}

.specbuttons div button {
  margin: 5px;
  width: 20vw;
  height: 10vw;
  font-size: 5vw;
}

.true {
  background-color: green;
}

.false {
  background-color: red;
}

.notdef {
  background-color: gray;
}

.leave {
  background-image: url('assets/leave.png');
}

.close {
  background-image: url('assets/close.png');
}

.reload {
  background-image: url('assets/reload.png');
}

.graytext {
  color: gray;
}

.mainmenu {
  margin-top: 50px;
  position: relative;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 10px;
}

.mainmenu button {
  border-radius: 0;
}

.mainmenu a, .mainmenu a button {
  width: 100%;
  height: 95%;
}

.primary-button {
  height: 100px;
  font-size: 30pt;
}

.triple {
  grid-column-start: span 3;
}

.double {
  grid-column-start: span 2;
}

.double-r {
  grid-row-start: span 2;
}

.formlist {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  width: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.formlist button {
  width: 100%;
}

.formlist textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 50px;
  max-height: 500px;
}

.formlist label {
  color: var(--default-color);
  font-weight: bold;
}

.windowbg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  top: 0;
  background-color: rgba(0, 0, 0, 0.493);
}

.resultwindow {
  position: fixed;
  width: 50%;
  min-width: 200px;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  min-height: 35px;
  background-image: url('./assets/background.png');
  box-shadow: var(--main-box-shadow);
  animation-name: zoomin;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  border-radius: var(--default-border-radius);
}

.resultwindow h1 {
  font-size: 30pt;
  text-align: center;
  color: var(--default-color);
}

.resultwindow button {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.resultwindow p {
  text-align: center;
  color: white;
  margin: 0;
  margin-left: 5px;
  margin-bottom: 5px;
}

@keyframes zoomin {
  from { transform: translate(-50%, -50%) scale(0.0, 0.0);}
  to {transform: translate(-50%, -50%) scale(1.0, 1.0);}
}