:root {
  --main-box-shadow: 3px 4px 4px -1px rgba(0,0,0,0.23);
  --select-color: rgb(100, 189, 224);
  --default-color: white;
  --border-color: rgb(170, 170, 170);
  --default-border-radius: 5px;
}

.debug {
  margin-left: 5px;
  font-size: 7pt;
}

button {
  min-width: 100px;
  min-height: 35px;
  background-color: var(--default-color);
  border: 0;
  border-radius: var(--default-border-radius);
  font-size: 15pt;
  box-shadow: var(--main-box-shadow);
  transition: background-color 100ms ease-in-out;
}

button:hover {
  background-color: var(--select-color);
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  min-height: 30px;
  width: 100%;
  border: 1px solid var(--border-color);
  background-color: var(--default-color);
  transition: transform 100ms ease-in-out;
  cursor: pointer;
}

li div {
  margin-right: 5px;
  margin-left: 5px;
}

li:first-child {
  border-top-left-radius: var(--default-border-radius);
  border-top-right-radius: var(--default-border-radius);
}

li:last-child {
  border-bottom-left-radius: var(--default-border-radius);
  border-bottom-right-radius: var(--default-border-radius);
}

li:hover {
  transform: translate(-1px, -1px);
  box-shadow: var(--main-box-shadow);
}

.selected {
  background-color: var(--select-color);
}

.playerlist {
  position: absolute;
  top: 20%;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.playerlist li {
  display: grid;
  grid-template-columns: 90% 10%;
}

.playerlist li div:last-child {
  text-align: right;
}

.questionlist {
  position: absolute;
  top: 20%;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.gamelist {
  position: absolute;
  top: 15%;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}


.buttonarray {
  position: absolute;
}


.mainbuttons {
  left: 50%;
  transform: translateX(-50%);
}

.answersbuttons {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.answersbuttons button {
  display: grid;
  grid-template-columns: 10% 90%;
}

.answersbuttons button div:first-child {
  text-align: left;
  margin: auto;
}

.answersbuttons button div:last-child {
  text-align: center;
  margin: auto;
}

.questionfield {
  background-color: rgb(166, 166, 255);
  font-size: 15pt;
  padding-top: 20px;
  min-height: 50px;
  width: 100%;
  text-align: center;
}

.true {
  background-color: green;
}

.false {
  background-color: red;
}

.graytext {
  color: gray;
}

.formlist {
  position: absolute;
  display: grid;
  grid-template-columns: 100%;
  width: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.formlist button {
  width: 100%;
}

.formlist p {
  text-align: center;
  font-size: 15pt;
}